.sub-menu {
    display: none;    
}
ul > li {
    display: inline;
    color: brown;
    font-size: 30px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
li:hover > .sub-menu {
    display: block;  
}
li:hover > .sub-menu > li:hover > .sub-menu {
   display: block; 
}


img {
    height: 150px;
}
#ggg li {
    display:block;
    }
#ddd li {
display:block;
}
#ttt li {
    display:block;
    }
#ppp li {
    display:block;
}
.modal {
    display: none;
}
.modal:target {
    display:block;
	position:absolute;
	top: 70px;
	left: 70px;
	bottom: 70px;
	right: 70px;
    background-image: url(img2.jpg);
    background-size: 55%;
}